.container{
    width: 1280px;
    margin: 0 auto;

}
.header{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.header-logo{
    text-decoration: none;

}
.header-logo-text{
    background-color: white;
    text-align: left;
    font-size: 80px;
    color: black;
    margin-bottom: 20px;
    margin-top: 61px;
}
.text-colored{
    color: #4bcaff;
}

.header-menu{
     background-color: #35444f;
}

.header-menu-item{
    display: inline-block;
 }

.header-menu-link{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: #ffffff;
    font-family:  AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    padding:23px 20px
}

.header-menu-link:hover{
    background-color: #222f3a;
}



.sidebar-menu{
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    width: 344px;
    margin-right: 73px;
    margin-bottom: 50px;
    box-sizing: border-box;

}

.sidebar-menu-item{

    text-decoration: none;
    font-size: 30px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    width: 100%;
    box-sizing: border-box;

}

.sidebar-menu-link{
    display: inline-block;
   padding: 20px ;
    text-decoration: none;
    color: #aab1b6;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-menu-link:hover{
    background-color: #dbdbdb;
    color: black;
    padding-left: 60px;
}


.main-content{
    border: 1px solid black;
    width: 855px;
    height: 529px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.main-img{
    height: 454px;
    width: 382px;
    background: url("../img/logoramdJS.png");
    background-size: 100%;
    background-position: center;
    transition: 1s;
    cursor: zoom-in;
    margin-bottom: 123px;
   margin-top: 28px;
   margin-left: 247px;
}
.main-img:hover{
    background-size: 150%;
    background-position: center;
}

.main-paragraph{
    margin-top: 30px;
}
.main-text{
    text-align: left;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    color: #646464;

}



.footer{
    background-color: #b4b7ba;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 1280px;
}

.footer-menu{
    display: inline-block;


}
.footer-item{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}


.footer-link{
    text-decoration: none;
    margin: 0 20px;
    font-size: 28px;
    text-transform: capitalize;
    color: black;


}
.footer-link:hover{
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
}
.footer-copyright{
  text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 28px;
    margin-left: 170px;
}

.copyright{
    display: inline-block;
    margin-left: 50px;
    font-size: 28px;

}